@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400&family=Poppins:wght@700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 10px;
}

.article {
    margin: 10px 10px 5px 5px;
}

.article-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

}

.pub-date {
    font-family: 'Poppins', sans-serif;
}

.title-img {
    object-fit: cover;
    margin: 10px;
}

.img-fluid {
    max-width: 100%;
    min-width: auto;
    height: auto;
}

.image-caption {
    font-size: 11px;
    font-family: 'Indie Flower', cursive;
    margin-top: 5px;
}

.disclaimer {
    background-color: #add8e6;
    color: #000;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

.disclaimer i {
    margin-right: 5px;
}

.disclaimer-text {
    display: inline-block;
}

.article-content {
    margin-top: 10px;
}