@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Poppins&family=Roboto&display=swap');


/* Common styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    padding: 50px 0;
    text-align: center;
}

.avatar-image {
    border-radius: 100%;
    width: 160px;
    height: 160px;
    object-fit: cover;
    box-shadow: -10px 20px 10px rgba(0, 0, 0, 0.2), 10px -20px 10px rgba(0, 0, 0, 0.2);
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Custom button style */
.custom-button {
    background-color: #111014;
    color: #fefefe;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.custom-button:hover {
    background-color: #111214;
}

/* Custom font styles */
.font-body {
    font-family: 'Poppins', sans-serif;
}

.portfolio-section {
    padding: 50px 0;
    flex: 1;
}

.footer {
    flex-shrink: 0;
}


.portfolio-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

/* Center align footer text */
footer {
    text-align: center;
    background-color: #100f13;
}

/* Styling for social icons */
.social-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    margin: 10px;
    transition: background-color 0.75s ease;
    text-overflow: ellipsis;
}

.social-icon img {
    max-width: 100%;
    max-height: 100%;
    min-width: 30px;
    min-height: 3cap;
    vertical-align: middle;
}

.social-icon:hover {
    background-color: #e2e4e6;
}

.social-icon img[src*="instagram-logo.png"] {
    width: 30px;
    height: 30px;
}

/* Responsive styles for different screen sizes */
@media screen and (max-width: 320px) {

    /* iPhone portrait */
    .avatar-image {
        width: 150px;
        height: 150px;
    }

    .custom-button {
        font-size: 16px;
    }

    .social-icon {
        width: 50px;
        height: 50px;
        line-height: 10px;
    }
}

@media screen and (min-width: 321px) and (max-width: 414px) {

    /* iPhone landscape, MI, Samsung, etc. */
    .avatar-image {
        width: 200px;
        height: 200px;
    }
}

@media screen and (min-width: 415px) and (max-width: 768px) {

    /* Tablets */
    .avatar-image {
        width: 250px;
        height: 250px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {

    /* Smaller laptops and large screens */
    .avatar-image {
        width: 300px;
        height: 300px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    /* Larger laptops and monitors */

    .avatar-image {
        width: 350px;
        height: 350px;
    }
}

@media screen and (min-width: 1201px) {
    /* Desktops and larger screens */

    .avatar-image {
        width: 400px;
        height: 400px;
    }
}