/* Common styles */
body {
  font-family: 'Poppins', 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Default styles for all screen sizes */
.light-theme {
  background: linear-gradient(to bottom, #f9f9f9, #f9eded);
  color: #111014;
  transition: background-color 0.5s ease-in, color 0.5s ease-out;
}

.dark-theme {
  background: linear-gradient(45deg, #111014, #190a19);
  color: #fefefe;
  transition: background-color 0.5s ease, color 0.5 ease;
}

.nav-hover {
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-hover:hover {
  color: #962a4a;
}

.section {
  padding: 50px 0;
  text-align: center;
}

.avatar-image {
  border-radius: 100%;
  max-width: 100%;
  height: auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.custom-button {
  background-color: #111014;
  color: #fefefe;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.custom-button:hover {
  background-color: #111214;
}

.font-body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

/* Navbar styles */
.navbar {
  background-color: #100f13;
  color: #fefefe;
  padding: 20px 0;
}

.navbar a {
  color: #fefefe;
  text-decoration: none;
  margin: 0 20px;
  font-size: 18px;
  transition: color 0.5s ease;
}

.navbar a:hover {
  color: #dd3e6e;
  font-size: 19px;
}

.portfolio-section {
  padding: 50px 0;
}

.portfolio-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

footer {
  text-align: center;
  background-color: #100f13;
}

/* Styling for social icons */
.social-icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 25%;
  text-align: center;
  line-height: 50px;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.social-icon img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.social-icon:hover {
  background-color: #ff9dbb;
}

/* Responsive styles for different screen sizes */
@media screen and (max-width: 320px) {

  /* iPhone portrait */
  .avatar-image {
    width: 150px;
    height: 150px;
  }

  .custom-button {
    font-size: 16px;
  }

  .social-icon {
    width: 40px;
    height: 40px;
    line-height: 30px;
  }
}

@media screen and (min-width: 321px) and (max-width: 414px) {

  /* iPhone landscape, MI, Samsung, etc. */
  .avatar-image {
    width: 200px;
    height: 200px;
  }
}

@media screen and (min-width: 415px) and (max-width: 768px) {

  /* Tablets */
  .avatar-image {
    width: 250px;
    height: 250px;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {

  /* Smaller laptops and large screens */
  .avatar-image {
    width: 300px;
    height: 300px;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  /* Larger laptops and monitors */

  .avatar-image {
    width: 350px;
    height: 350px;
  }
}

@media screen and (min-width: 1201px) {
  /* Desktops and larger screens */

  .avatar-image {
    width: 400px;
    height: 400px;
  }
}