{
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2_26 {
  width: 100%;
  height: 1024px;
  background: rgba(17,16,20,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_87 {
  width: 535px;
  height: 75px;
  background: url("../images/v4_87.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 745px;
  left: 452px;
  overflow: hidden;
}
.v4_88 {
  width: 75px;
  height: 72px;
  background: rgba(231,231,231,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
}
.v4_91 {
  width: 75px;
  height: 72px;
  background: url("../images/v4_91.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 115px;
  overflow: hidden;
}
.v4_94 {
  width: 75px;
  height: 72px;
  background: rgba(29,155,240,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 230px;
}
.v4_95 {
  width: 75px;
  height: 72px;
  background: url("../images/v4_95.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 345px;
  overflow: hidden;
}
.v4_99 {
  width: 75px;
  height: 75px;
  background: url("../images/v4_99.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 460px;
  overflow: hidden;
}
.v4_63 {
  width: 200px;
  height: 200px;
  background: url("../images/v4_63.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 620px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v8_23 {
  width: 512px;
  color: rgba(217,217,217,1);
  position: absolute;
  top: 381px;
  left: 486px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v8_19 {
  width: 660px;
  color: rgba(217,217,217,1);
  position: absolute;
  top: 553px;
  left: 390px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v19_70 {
  width: 128px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 169px;
  left: 775px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.footer-text {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 974px;
  left: 190px;
  font-family: Courier New;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #ffffff;
}
.navbar {
  width: 100%;
  height: 89px;
  background: url("../images/v4_69.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 40px;
  overflow: hidden;
}
.v8_27 {
  width: 132px;
  color: rgba(217,217,217,1);
  position: absolute;
  top: 32px;
  left: 1228px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v8_26 {
  width: 50px;
  color: rgba(217,217,217,1);
  position: absolute;
  top: 32px;
  left: 1123px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v8_24 {
  width: 68px;
  color: rgba(217,217,217,1);
  position: absolute;
  top: 32px;
  left: 807px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v8_18 {
  width: 138px;
  color: rgba(217,217,217,1);
  position: absolute;
  top: 32px;
  left: 930px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v8_20 {
  width: 524px;
  color: rgba(217,217,217,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 59px;
  opacity: 1;
  text-align: left;
}
