@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Navbar styles */
.navbar {
    background-color: #100f13;
    color: #fefefe;
    padding: 20px 0;
    font-family: 'Roboto', sans-serif !important;
}

.nav-hover {
    cursor: pointer;
    transition: color 0.5s ease;
    font-weight: bolder !important;
}

.nav-hover:hover {
    color: #dd3e6e;
}

.navbar a {
    color: #fefefe;
    text-decoration: none;
    margin: 10px 20px;
    transition: color 0.7s ease-in-out;
    position: relative;
    font-weight: 700 !important;
}

.navbar a:hover {
    color: #dd3e6e;

}

.navbar a::before {
    content: '';
    width: 0;
    height: 2px;
    background: #dc6464;
    position: absolute;
    bottom: -4px;
    left: -5px;
    transition: width 0.5s ease-in-out;
}

.navbar a:hover::before {
    width: 108%;
}