@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Poppins&family=Roboto&display=swap');



/* Light Theme Styles */
.light-theme .portfolio-section {
    background-color: #f7f7f7;
    color: #333;
}

/* Dark Theme Styles */
.dark-theme .portfolio-section {
    background-color: #000000;
    color: #FFFFFF;
}

/* Text Color Adaptation */
.light-theme .text-color {
    color: #111111;
}

.dark-theme .text-color {
    color: #FFFFFF;
}

/* Card Styles */
.card {
    background: linear-gradient(to right, #9f4040, #ae6924, #957909);
    color: #ffffff;
    animation: cardColorChange 10s infinite;
    border: none;
    border-radius: 15px;
}

@keyframes cardColorChange {
    0% {
        background-position: 0% 61%;
    }

    50% {
        background-position: 100% 40%;
    }

    100% {
        background-position: 0% 61%;
    }
}

.card-header {
    background-color: #007BFF;
    color: #ffffff;
    border-radius: 20px 20px 0 0;
    padding: 10px;
}

.card-body {
    padding: 20px;
}

/* For dark theme */
.dark-theme .card {
    background: #333;
}

.dark-theme .card:hover {
    background: linear-gradient(to right, #555, #444, #333, #222, #111);
    animation: cardColorChange 4s infinite;
}

@keyframes cardColorChange {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 100%;
    }
}